<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="/nav.js" defer></script>
    <script src="/app.js"></script>
</head>

<body>
    
    <iframe target="blank" src="https://www.google.com/maps/embed?pb=!4v1680076936342!6m8!1m7!1sCAoSLEFGMVFpcE5QVC02VUpndTBwWlh4MXNPSTcxazM3Wnl4dnB5RV81THBGVFJz!2m2!1d28.247168323946!2d76.814509077353!3f46.34659555353501!4f-10.630169235658713!5f0.7820865974627469" width="100%" height="900" style="border:0;" allow="fullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>

</html>