<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/signInStyle.css">
    <title>ForgotPassword</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <a href="/" class="logo">
                        <img src="/public/images/BMLImage.png" alt="BMLImage">
                    </a>
                    <p>
                        The default credentials to sign in are enrollment no. (6 digit) and password is 1234.For more
                        information contact us
                    </p>
                    <a class="btn" href="/">Back</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Forgot password</h2>
                    <form action="/forgotPassword" method="post">
                        <p>
                            <input type="text" placeholder="EmailId" name="emailId" required>
                        </p>
                        <p>
                            <input class="btn" type="submit" value="Submit" />
                        </p>
                        <p>
                            <a href="./signIn">Back to sign in</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>