<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Pages</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/signInStyle.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <a href="/" class="logo">
                        <img src="/public/images/BMLImage.png" alt="BMLImage">
                    </a>
                    <p>
                        The default credentials to sign in are enrollment no. (6 digit) and password is 1234. For more
                        information contact us
                    </p>
                    <a class="btn" href="/">Back</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Sign in</h2>
                    <form method="post" action="/signIn">
                        <p>
                            <input id="enrollmentNo" type="number" placeholder="Enrollment No." name="enrollmentNo"required>
                        </p>
                        <p>
                            <input type="password" placeholder="Password" name="password" required>
                        </p>
                        <p>
                            <input class="btn" type="submit" value="Sign in" id="submitButton" onclick="return isVaild()" />
                        </p>
                        <p>
                            <a href="forgotPassword">Forgot password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const pattern = /^[0-9]{6}$/;
        const enrollment = document.getElementById('enrollmentNo');
        const buttonSubmit = document.getElementById('submitButton');
        
        function isVaild(){
            if(pattern.test(enrollment.value)){
                return true;
            }else{
                return false;
            }
        }
    </script>
</body>

</html>