.card{
    width: 25rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.col-md-8{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.col-md-4{
    padding:.5rem;
    align-items: center;
}
.img-fluid{
    width: 5rem;
}