.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content input[type=text] {
    padding: 10px;
    margin-top: -1px;
    border: none;
    border-radius: 0;
    background-color: #fff;
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-content[search-control="true"] {
    display: block;
}